<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projet.hiredoo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.projet.hiredoo.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.projet.hiredoo.RecruiterRegisterActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.JobSeeckerRegisterActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Profilcandidate_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Profilenterprise_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Applyjob_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Listjob_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Postulerjob_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Rechercher_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Rechercherprofil_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Listcandidate_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Listenterprise_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Listpostule_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Ajouteroffre_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Modifier_entreprise_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Detailoffre_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Detailpostule_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Ajouter_experience_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Ajouter_education_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Ajouter_langage_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Modifier_jobseeker_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Ajoutercv_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Ajouterlm_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Ajoutervideo_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" ></activity>
        
        <activity android:name="com.projet.hiredoo.Video_activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" ></activity>
        
    </application>

</manifest>
